{% extends "layout/main.html" %}

{% block styles %}
<style>
img {
	width:320px;
}
</style>

{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-md-5">
		    {% if form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ form[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    <h2>Upload an image</h2>
		    <p>Behave.</p>
			<form method="POST" enctype="multipart/form-data" role="form">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ form.title.label }}
					{{ form.title(class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.description.label }}
					{{ form.description(class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.postedby.label }}
					{{ form.postedby(class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.fileupload.label }}
					{{ form.fileupload(class="btn btn-info") }}
				</div>
				<br><br>
				<input class="btn btn-success" type="submit" value="upload">


			</form>
		</div>

		<div class="col-md-7">
			<h2>Images</h2>
			<hr>
			{% for img in images %}
				<a title="{{img.title}}" alt="Title:{{img.title}}. Description: {{img.description}}" href="https://s3.amazonaws.com/dwd_uploads/{{img.filename}}">
				<img src="{{img.url}}" width="480"></a>
				<br>
				<h3>{{img.title}}</h3>
				<p>{{img.description}}
					<br>
					{{ img.postedby }} - {{ img.timestamp.strftime("%m/%d/%y")}}
				</p>
				<a href="/delete/{{img.id}}" class="btn btn-small btn-danger">delete</a>
				<hr>
			{% endfor %}
		</div>

	</div><!-- row -->

{% endblock %}

{% block scripts %}{% endblock %}
